# Content Based Filtering

**Our decisive feature will be the tag column we will make based on overivew,cast,crew,genres and keywords**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import nltk
import ast
from nltk.stem.porter import *
from gensim.test.utils import common_texts
from gensim.models import Word2Vec
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

[nltk_data] Downloading package punkt to C:\Users\Ahmad
[nltk_data]     Hassan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Ahmad
[nltk_data]     Hassan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Preprocessing

In [2]:
df_credit = pd.read_csv('tmdb_5000_credits.csv')
df_movies = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
df_movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
df_credit.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
df_credit = df_credit.drop('title',axis=1)

In [6]:
df_credit

,movie_id,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...
4798,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
# Merging Both
df = pd.merge(left = df_movies , right=df_credit ,left_on=df_movies['id'] , right_on= df_credit['movie_id'] )

In [8]:
df.head(2)

,key_0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,19995,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
# Drop Unwanted Columns

df  = df.drop(['key_0','budget','homepage','original_language','movie_id','original_title','tagline',],axis=1)

In [10]:

df = df.drop(['production_companies','production_countries','release_date','revenue','runtime','spoken_languages','status'],axis=1)

In [11]:
df.head(2)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

**Some columns are in dictionary list format so we conv then into list only**

In [12]:
# Convert back string dictionary in non string and only fetch the value of key name from each
def convert(item):
    l=[]
    for i in ast.literal_eval(item):
        l.append(i['name'])
    return l

In [13]:
#For Genres
df['genres'] = df['genres'].apply(lambda x : convert(x))

In [14]:
#For Keywords
df['keywords'] = df['keywords'].apply(lambda x : convert(x))

In [15]:
# for Overview
def convert_overview(item):
    l=[]
    l = [item]
    return l   

df['overview'] = df['overview'].apply(lambda x :convert_overview(x) )

In [16]:
df.head(2)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In the 22nd century, a paraplegic Marine is d...",150.437577,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","[Captain Barbossa, long believed to be dead, h...",139.082615,Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [17]:
# From Cast we need only first 4 casts
def convert_three(item):
    l=[]
    n=0
    for i in ast.literal_eval(item):
        if n <= 3:
            l.append(i['name'])
            n = n+1
        else:
            break
    return l

In [18]:
df['cast'] = df['cast'].apply(lambda x : convert_three(x))

In [19]:
# We need only The DIRECTOR Name from the crew
def directoronly(item):
    l=[]
    for i in ast.literal_eval(item):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [20]:
df['crew'] =  df['crew'].apply(lambda x : directoronly(x))

In [21]:
df.head(3)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In the 22nd century, a paraplegic Marine is d...",150.437577,Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","[Captain Barbossa, long believed to be dead, h...",139.082615,Pirates of the Caribbean: At World's End,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",[A cryptic message from Bond’s past sends him ...,107.376788,Spectre,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]

# Data Cleaning

In [22]:
df.isnull().sum()

genres          0
id              0
keywords        0
overview        0
popularity      0
title           0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4803 non-null   object
 1   id            4803 non-null   int64
 2   keywords      4803 non-null   object
 3   overview      4803 non-null   object
 4   popularity    4803 non-null   float64
 5   title         4803 non-null   object
 6   vote_average  4803 non-null   float64
 7   vote_count    4803 non-null   int64
 8   cast          4803 non-null   object
 9   crew          4803 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 412.8+ KB

**Preparing Data for Vector Conversion**

In [24]:
# Removing Blank Spaces between cast and Crew names,Genres and Keywords
# Lowering the words
# Merge all useful feature in one column  and conv this col as string
# Applying Stemming

In [25]:
# Lower and blank space remove
df['cast'] = df['cast'].apply(lambda x : [i.replace(" ", "").lower() for i in x ])
df['crew'] = df['crew'].apply(lambda x : [i.replace(" ", "").lower() for i in x ])
df['keywords'] = df['keywords'].apply(lambda x : [i.replace(" ", "").lower() for i in x ])
df['genres'] = df['genres'].apply(lambda x : [i.replace(" ", "").lower() for i in x ])

In [26]:
# lowercase title
df['title'] = df['title'].apply(lambda x : x.lower())

In [27]:
# df = df.drop('key_0',axis=1)

In [28]:
df.head(3)

,genres,id,keywords,overview,popularity,title,vote_average,vote_count,cast,crew
0,"[action, adventure, fantasy, sciencefiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In the 22nd century, a paraplegic Marine is d...",150.437577,avatar,7.2,11800,"[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,"[adventure, fantasy, action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain Barbossa, long believed to be dead, h...",139.082615,pirates of the caribbean: at world's end,6.9,4500,"[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski]
2,"[action, adventure, crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",[A cryptic message from Bond’s past sends him ...,107.376788,spectre,6.3,4466,"[danielcraig, christophwaltz, léaseydoux, ralp...",[sammendes]

In [29]:
# all features in one
df['tags'] = df['overview']+df['genres']+df['keywords']+df['cast']+df['crew']

In [30]:
# list to string

df['tags']=df['tags'].apply(lambda x : ' '.join(map(str, x)))

In [31]:
df['tags'][285]

'NYPD detectives Christopher Danson (Johnson) and P.K. Highsmith (Jackson) are the baddest and most beloved cops in New York City. They don\'t get tattoos, other men get tattoos of them. Two desks over and one back, sit detectives Allen Gamble (Ferrell) and Terry Hoitz (Wahlberg). You\'ve seen them in the background of photos of Danson and Highsmith, out of focus and eyes closed. They\'re not heroes, they\'re "the other guys." But every cop has his or her day and soon Gamble and Hoitz stumble into a seemingly innocuous case no other detective wants to touch that could turn into NYC\'s biggest crime. It\'s the opportunity of their lives, but do these guys have the right stuff? action comedy crime narration ceo firetruck shotintheshoulder zipline buddycomedy carjacking aftercreditsstinger duringcreditsstinger willferrell markwahlberg evamendes samuell.jackson adammckay'

In [32]:
# Remove Stem words from tag
import string

def removestem(text):
    stemmer = PorterStemmer()
    l = []
    for word in text.split():
         l.append(stemmer.stem(word))
            
           
      
            
    return " ".join(l)

In [33]:
df['tags'] = df['tags'].apply(removestem)

In [34]:
df['tags'][285]

'nypd detect christoph danson (johnson) and p.k. highsmith (jackson) are the baddest and most belov cop in new york city. they don\'t get tattoos, other men get tattoo of them. two desk over and one back, sit detect allen gambl (ferrell) and terri hoitz (wahlberg). you\'v seen them in the background of photo of danson and highsmith, out of focu and eye closed. they\'r not heroes, they\'r "the other guys." but everi cop ha hi or her day and soon gambl and hoitz stumbl into a seemingli innocu case no other detect want to touch that could turn into nyc\' biggest crime. it\' the opportun of their lives, but do these guy have the right stuff? action comedi crime narrat ceo firetruck shotintheshould ziplin buddycomedi carjack aftercreditssting duringcreditssting willferrel markwahlberg evamend samuell.jackson adammckay'

In [35]:
# Remove puntuation and stopwords

In [36]:
import string



df['tags'] = df['tags'].apply(lambda x :  "".join([word for word in x if word not in string.punctuation and  stopwords.words]))

In [37]:
df['tags'][285]

'nypd detect christoph danson johnson and pk highsmith jackson are the baddest and most belov cop in new york city they dont get tattoos other men get tattoo of them two desk over and one back sit detect allen gambl ferrell and terri hoitz wahlberg youv seen them in the background of photo of danson and highsmith out of focu and eye closed theyr not heroes theyr the other guys but everi cop ha hi or her day and soon gambl and hoitz stumbl into a seemingli innocu case no other detect want to touch that could turn into nyc biggest crime it the opportun of their lives but do these guy have the right stuff action comedi crime narrat ceo firetruck shotintheshould ziplin buddycomedi carjack aftercreditssting duringcreditssting willferrel markwahlberg evamend samuelljackson adammckay'

# Vectorization

**Dont Distrub the enumerated index col same indexes will be used to sort numpy arrays**
**Otherwise we will looose index positions of movie items **
**We can get real ids after getting our item using normal enumerated id**

In [38]:

vectorizer = CountVectorizer(max_features=5000 , stop_words='english')

In [39]:
model = Pipeline([('count', CountVectorizer(max_features=5000 , stop_words='english')),
                 ('tfid', TfidfTransformer())]).fit_transform(df['tags']).toarray()
# model =  vectorizer.fit_transform(df['tags']).toarray()

In [40]:
model

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [41]:
# Finding Cosine Similarity
sim  = cosine_similarity(model)

**Showing similarity of movies with respect to each movie**

In [42]:
sim[265]

array([0.00993801, 0.03447453, 0.        , ..., 0.03456786, 0.        ,
       0.        ])

# Weighted Averages Col  (Recommendations)(hybrid)

In [43]:
# Formula for weighted Average

V = df['vote_count']
R = df['vote_average']
C  = df['vote_average'].mean()
M = df['vote_count'].quantile(0.70)

In [44]:
# Finding weighted avg by applying formula

df['Weighted_avg'] = ((R*V) + (C*M)) / (V+M)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4803 non-null   object
 1   id            4803 non-null   int64
 2   keywords      4803 non-null   object
 3   overview      4803 non-null   object
 4   popularity    4803 non-null   float64
 5   title         4803 non-null   object
 6   vote_average  4803 non-null   float64
 7   vote_count    4803 non-null   int64
 8   cast          4803 non-null   object
 9   crew          4803 non-null   object
 10  tags          4803 non-null   object
 11  Weighted_avg  4803 non-null   float64
dtypes: float64(3), int64(2), object(7)
memory usage: 647.8+ KB

In [46]:
# Sort in descending order by weighted avg
df  = df.sort_values(by = 'Weighted_avg', ascending=False)

In [47]:
df = df.drop(['genres','keywords','overview','vote_average','vote_count','cast','crew'],axis=1)

In [48]:
df.head(5)

,id,popularity,title,tags,Weighted_avg
1881,278,136.747729,the shawshank redemption,frame in the 1940 for the doubl murder of hi w...,8.340775
3337,238,143.659698,the godfather,span the year 1945 to 1955 a chronicl of the f...,8.192887
662,550,146.757391,fight club,A tickingtimebomb insomniac and a slipperi soa...,8.171648
3232,680,121.463076,pulp fiction,A burgerlov hit man hi philosoph partner a dru...,8.157615
65,155,187.322927,the dark knight,batman rais the stake in hi war on crime with ...,8.102674

# Function that returns movies

In [49]:
def recommendmovie(name):
    movie_index = df[df['title']== name].index[0]
    
    cosine_distances = sorted(list( enumerate(sim[movie_index]) ) ,reverse = True ,key = lambda x:x[1]  )[0:6]
    re = []
    for i in cosine_distances:

          re.append(df.loc[i[0]].id)

    return re

In [50]:
d = recommendmovie(name='batman begins')
d

[272, 155, 49026, 209112, 364, 268]

In [51]:
df[df['title']== "batman begins"]

,id,popularity,title,tags,Weighted_avg
119,272,115.040024,batman begins,driven by tragedy billionair bruce wayn dedic ...,7.396984

In [65]:
a = df[df['id']== 268 ]
a

,id,popularity,title,tags,Weighted_avg
1359,268,44.104469,batman,the dark knight of gotham citi begin hi war on...,6.80297

In [53]:
# df[df.index  == 440]

In [54]:
#WE will USE THE ABOVE FUNCTION IN OUR FRONT END AND BACKEND INTERFACE

# Dump Needed Files

In [66]:
df

,id,popularity,title,tags,Weighted_avg
1881,278,136.747729,the shawshank redemption,frame in the 1940 for the doubl murder of hi w...,8.340775
3337,238,143.659698,the godfather,span the year 1945 to 1955 a chronicl of the f...,8.192887
662,550,146.757391,fight club,A tickingtimebomb insomniac and a slipperi soa...,8.171648
3232,680,121.463076,pulp fiction,A burgerlov hit man hi philosoph partner a dru...,8.157615
65,155,187.322927,the dark knight,batman rais the stake in hi war on crime with ...,8.102674
...,...,...,...,...,...
303,314,32.271938,catwoman,liquid after discov a corpor conspiracy mildma...,4.991470
3746,241251,24.161735,the boy next door,A recent cheat on marri woman fall for a young...,4.822053
210,415,50.073575,batman & robin,along with crimefight partner robin and new re...,4.749951
242,166424,38.126095,fantastic four,four young outsid teleport to a danger univers...,4.743880
1652,14164,21.677732,dragonball evolution,the young warrior son goku set out on a quest ...,4.678190

In [67]:
import joblib

In [68]:
joblib.dump(df,'moviesrecommender.joblib')

['moviesrecommender.joblib']

In [69]:
joblib.dump(sim,'similarityscores.joblib')

['similarityscores.joblib']

In [70]:
top = df.index[:20]

In [71]:
top

Int64Index([1881, 3337,  662, 3232,   65,  809, 1818, 3865,   96, 1990, 2294,
              95, 2731,  329, 2912,  690, 1553,  262, 1847, 2091],
           dtype='int64')